.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 10rem auto;
  background: #FFFFFF;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.75);
}

.todoForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todoForm>* {
  border-radius: 5px;
}

.todoForm>input {
  width: 80%;
  border: 1px solid #ABABAB;
  padding: 0.5rem;
}

.todoForm>input.ng-invalid.ng-dirty:focus {
  border: 1px solid var(--red);
}

.todoForm>button {
  width: 15%;
  padding: 0.5rem;
  border: none;
  color: #FFF;
  font-weight: bold;
  background: var(--blue);
  cursor: pointer;
  transition: background .25s;
}

.todoForm>button:disabled {
  background: var(--lightgray);
  cursor: not-allowed;
  transition: background .25s;
}

.todoList,
.topMenu {
  width: 100%;
}

nav.filters {
  padding-top: .5rem;
}

nav.filters>button {
  background: none;
  border: none;
  padding: .5rem;
}

nav.filters>button.active {
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}

.error {
  width: 100%;
  padding: .5rem;
  border: 1px solid var(--darkred);
  border-radius: 5px;
  background: var(--lightred);
  color: var(--darkred);
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .todoForm {
    flex-direction: column;
    gap: 5px;
  }

  .todoForm>input {
    width: 100%;
  }

  .todoForm>button {
    width: 100%;
  }
}
